.header {
  height: 7.5rem;
                                                                                                                                                                                                                                                                                                                                              

  .wrap {
    position: relative;
    height: 100%;
    max-width: 1450px;
    margin: 0 auto;
    border-bottom: 1rem #f0f0f0 solid;

    .logo {
      width: 13rem;
      position: absolute;
      top: 50%;
      left: 20px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);

      img {
        display: block;
        width: 56%;
        margin: 0 auto;
      }
    }

    .callToActions {
      position: absolute;
      top: 50%;
      right: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);

      ul,
      li {
        margin: 0;
        padding: 0;
      }
      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 1.5rem;

        &:last-child {
          margin-right: 0;
        }
        a {
          font-size: 1.8rem;
          line-height: 1;
          color: black;
          text-decoration: none;
          text-transform: uppercase;
        }
        span {
          cursor: pointer;
          text-transform: uppercase;
        }
      }
    }
  }
}
